.header {
    width: 100%;
    height: 70px;
    background-color: lightblue;
    display: flex;
    padding: 0 40px;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;

    &__logo {
        height: 60px;
    }

    &__guest {
        color: white;
        font-size: 1.3rem;
    }

    &__user {
        display: flex;
        font-weight: bold;
        color: white;
        align-items: center;

        &-logout {
            margin-left: 2rem;
            padding: 5px;
            border: 1px solid lightgray;
            font-weight: normal;
            color: black;
            background-color: lightsteelblue;
            cursor: pointer;
            user-select: none;
        }
    }


}